.af-input {
  background-color: #f7f7f7;
  border: none;
  border-bottom: 1px solid #ccc;
  display: block;
  margin-block-end: .67em;
  margin-block-start: .67em;
}

.af-input:focus {
  outline: none;
}