.inpt {
  background-color: #fff;
  border: 0px 0px 1px 0px;
  border-width: 1px;
  border-radius: 3px;
  border-color: #999;
  border-style: solid;
  display: block;
  margin-block-end: .67em;
  margin-block-start: .67em;
}