@import '../../utils/GlobalTokens.scss';
@import '../../utils/CSSCustomTokens.scss';

/* ---- VARIABLES ----*/

$danger-color: var(--button--danger-color);
$default-color: var(--button--default-color);
$info-color: var(--button--info-color);
$success-color: var(--button--success-color);
$theme-color: var(--button--theme-color);
$warn-color: var(--button--warn-color);

$danger-hover-color: var(--button--danger-hover-color);
$default-hover-color: var(--button--default-hover-color);
$info-hover-color: var(--button--info-hover-color);
$success-hover-color: var(--button--success-hover-color);
$theme-hover-color: var(--button--theme-hover-color);
$warn-hover-color: var(--button--warn-hover-color);

$xx-sm-font-size: var(--button--xx-sm-font-size);
$x-sm-font-size: var(--button--x-sm-font-size);
$sm-font-size: var(--button--sm-font-size);
$md-font-size: var(--button--md-font-size);
$lg-font-size: var(--button--lg-font-size);
$x-lg-font-size: var(--button--x-lg-font-size);
$xx-lg-font-size: var(--button--xx-lg-font-size);

$xx-sm-padding: var(--button--xx-sm-padding);
$x-sm-padding: var(--button--x-sm-padding);
$sm-padding: var(--button--sm-padding);
$md-padding: var(--button--md-padding);
$lg-padding: var(--button--lg-padding);
$x-lg-padding: var(--button--x-lg-padding);
$xx-lg-padding: var(--button--xx-lg-padding);

$sharp-radius: var(--button--sharp-border-radius);
$rounded-radius: var(--button--rounded-border-radius);
$circle-radius: var(--button--circle-border-radius);

/* ---- MIXINS ----*/

@mixin defineButtonColors($color, $hover-color) {
  /* ---- DEFAULT ---- */
  background-color: $color;
  border-color: $color;
  color: var(--white);

  /* ---- FILL ---- */
  &.btn--fill {
    background-color: $color;
    border-color: $color;
    color: var(--white);
  }
  
  /* ---- OUTLINE ---- */
  &.btn--outline {
    background-color: var(--white);
    border-color: $color;
    color: $color;
  }
  
  /* ---- BOTH ---- */
  &:hover {
    background-color: $hover-color;
    border-color: $hover-color;
    color: var(--white);
  }
}

@mixin defineButtonSize($font-size, $padding) {
  font-size: $font-size;
  padding: $padding;
}

@mixin defineButtonFullWidth() {
  display: block;
  width: 100%;
}

@mixin defineButtonBorderRadius($border-radius) {
  border-radius: $border-radius;
}

.btn {

  /* ---- DEFAULT STYLES ---- */
  cursor: pointer;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: var(--button--md-font-size);
  line-height: 1em;
  padding: var(--button--md-padding);

  &:hover {
    background-color: black;
    color: var(--white);
    transition-duration: .3s;
  }

  &:not(:hover) {
    transition-duration: .3s;
  }



  /* ----------------------------- */
  /* ---- USER DEFINED STYLES ---- */
  /* ----------------------------- */



  /* ---- FULL WIDTH ---- */
  &--full-width { @include defineButtonFullWidth() }

  /* ---- SIZES ---- */
  &--xx-sm { @include defineButtonSize($xx-sm-font-size, $xx-sm-padding) }
  &--x-sm { @include defineButtonSize($x-sm-font-size, $x-sm-padding) }
  &--sm { @include defineButtonSize($sm-font-size, $sm-padding) }
  &--md { @include defineButtonSize($md-font-size, $md-padding) }
  &--lg { @include defineButtonSize($lg-font-size, $lg-padding) }
  &--x-lg { @include defineButtonSize($x-lg-font-size, $x-lg-padding) }
  &--xx-lg { @include defineButtonSize($xx-lg-font-size, $xx-lg-padding) }

  /* ----- CORNER-RADIUS ----- */
  &--sharp { @include defineButtonBorderRadius($sharp-radius)}
  &--rounded { @include defineButtonBorderRadius($rounded-radius)}
  &--circle { @include defineButtonBorderRadius($circle-radius)}

  /* ---- COLORS ---- */
  &--danger { @include defineButtonColors($danger-color, $danger-hover-color) }
  &--default { @include defineButtonColors($default-color, $default-hover-color) }
  &--info { @include defineButtonColors($info-color, $info-hover-color) }
  &--success { @include defineButtonColors($success-color, $success-hover-color) }
  &--theme { @include defineButtonColors($theme-color, $theme-hover-color) }
  &--warn { @include defineButtonColors($warn-color, $warn-hover-color) }

}