.menu-child-wrapper-alignment--center:not(:first-child):not(:last-child) {
  margin: 0px 1.25vw;
}

.menu-child-wrapper-alignment--center:first-child {
  margin-right: 1.25vw;
}

.menu-child-wrapper-alignment--center:last-child {
  margin-left: 1.25vw;
}

.menu-child-wrapper-alignment--left:not(:last-child) {
  margin-right: 2.5vw;
}

.menu-child-wrapper-alignment--right:not(:first-child) {
  margin-left: 2.5vw;
}

.menu-child-wrapper-direction--horizontal {
  display: inline;
}

.menu-child-wrapper-direction--vertical {
  display: block;
}