/* -------- TOKNES -------- */
@import '../../utils/SCSSTokens.scss';

@mixin defineItem {
  cursor: pointer;
}

@mixin defineItemSubmenuDisplay {
  &:hover > * {
    display: block;
  }
}

@mixin defineItemTransitions {
  &:hover {
    transition-duration: .3s;
  }
  &:not(:hover) {
    transition-duration: .3s;
  }
}

@mixin defineItemColor($color, $background-color, $hover-color, $hover-background-color) {

  background-color: $background-color;
  color: $color;

  &:hover {
    background-color: $hover-background-color;
    color: $hover-color;
  }
}

@mixin defineMenuItemDistance($distance) {
  & > div {
    padding-top: $distance;
  }
}

.menu {

  height: 100%; 
  /* -------- MENU ITEM -------- */
  &__item {
    display: inline-block;
    @include defineItem();
    @include defineItemTransitions();
    @include defineItemSubmenuDisplay();
    @include defineItemColor(white, black, gray, black);
    @include defineMenuItemDistance(5px);

    &:not(:last-child) {
      margin-right: 3vw;
    }

  }

  /* -------- SUBMENU -------- */
  &__submenu {
    position: absolute;
    display: none;

    /* -------- SUBMENU ITEM -------- */
    &__item {
      padding: 10px;
      display: block;
      cursor: pointer;
      position: relative;
      min-width: 8em;
      width: fit-content;
      
      @include defineItem();
      @include defineItemTransitions();
      @include defineItemSubmenuDisplay();
      @include defineItemColor(black, white, gray, white);
  }

    /* -------- SUBMENU > SUBMENUS -------- */
    &--dir-lft {
      left: -100%;
      top: 0;
    }

    &--dir-rgt {
      left: 100%;
      top: 0;
    }

  }

}