/* -------- TOKENS -------- */
@import '../../utils/SCSSTokens.scss';

@mixin defineColumnDefaultStyles {
  display: grid;
  font-family: var(--roboto)
}

@mixin defineColumnContentPosition($vertical-alignment, $horizontal-alignment) {
  align-items: $vertical-alignment;
  justify-content: $horizontal-alignment;
}

@mixin defineColumnContentPositionOptions {
  &--top-left { @include defineColumnContentPosition(start, start) }
  &--top-center { @include defineColumnContentPosition(start, center) }
  &--top-right { @include defineColumnContentPosition(start, end) }
  &--center-left { @include defineColumnContentPosition(center, start) }
  &--center-center { @include defineColumnContentPosition(center, center) }
  &--center-right { @include defineColumnContentPosition(center, end) }
  &--bottom-left { @include defineColumnContentPosition(end, start) }
  &--bottom-center { @include defineColumnContentPosition(end, center) }
  &--bottom-right { @include defineColumnContentPosition(end, end) }
}

.col {
  /* -------- DEFAULT STYLES -------- */
  @include defineColumnDefaultStyles();

  /* -------- OPTIONS -------- */
  @include defineColumnContentPositionOptions();
}