/* -------- TOKENS -------- */
@import '../../utils/SCSSTokens.scss';

/* -------- IMPLEMENTING -------- */
@import '../Column/Column.module.scss';
@import '../Section/Section.module.scss';

@mixin defineHeaderColor($background-color, $color) {
  background-color: $background-color;
  color: $color;
}

@mixin defineHeaderColorOptions {
  &--primary { @include defineHeaderColor(white, black) }
  &--secondary { @include defineHeaderColor(black, white) }
  &--custom { @include defineHeaderColor(
    var(--header--custom-background-color),
    var(--header--custom-color)
  ) }
}

@mixin defineHeaderPadding($padding) {
  @include defineSectionPadding($padding);
}

@mixin defineHeaderPaddingOptions {
  &--pd-xx-sm { @include defineHeaderPadding(var(--header--pd-xx-sm-padding)) }
  &--pd-x-sm { @include defineHeaderPadding(var(--header--pd-x-sm-padding)) }
  &--pd-sm { @include defineHeaderPadding(var(--header--pd-sm-padding)) }
  &--pd-md { @include defineHeaderPadding(var(--header--pd-md-padding)) }
  &--pd-lg { @include defineHeaderPadding(var(--header--pd-lg-padding)) }
  &--pd-x-lg { @include defineHeaderPadding(var(--header--pd-x-lg-padding)) }
  &--pd-xx-lg { @include defineHeaderPadding(var(--header--pd-xx-lg-padding)) }
  &--pd-custom { @include defineHeaderPadding(var(--header--pd-custom-padding)) }
}

@mixin defineHeaderShadow($shadow) {
  box-shadow: $shadow;
}

@mixin defineHeaderShadowOptions {
  &--shdw-lt { @include defineHeaderShadow(0px 5px 8px rgba(0,0,0,0.1)) }
  &--shdw-md { @include defineHeaderShadow(0px 10px 15px rgba(0,0,0,0.15)) }
  &--shdw-hv { @include defineHeaderShadow(0px 15px 25px rgba(0,0,0,0.2)) }
}

@mixin defineHeaderSize($min-height, $height, $max-height) {
  min-height: $min-height;
  height: $height;
  max-height: $max-height;
}

@mixin defineHeaderSizeOptions {
  &--sm > *, &--sm { @include defineHeaderSize(40px, 5vh, 80px) }
  &--md > * { @include defineHeaderSize(60px, 7vh, 90px) }
  &--lg > * { @include defineHeaderSize(90px, 10vh, 120px) }
}

.header {

  & > * {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }
  /* -------- DEFAULT STYLES -------- */
  background-color: white;
  height: 8vh;
  max-height: 100px;
  min-height: 70px;
  padding: var(--header--pd-md-padding);

  /* -------- HEADER VARIANTS -------- */
  @include defineHeaderColorOptions();

  /* -------- WIDTH -------- */
  @include defineSectionWidthOptions();

  /* -------- PADDING -------- */
  @include defineHeaderPaddingOptions();

  /* -------- SHADOW -------- */
  @include defineHeaderShadowOptions();

  /* -------- SIZE -------- */
  @include defineHeaderSizeOptions();

  &__col {

    height: 100%;
    display: grid;
    align-items: center;

    /* -------- DEFAULT STYLES -------- */
    @include defineColumnDefaultStyles();
    
    /* -------- OPTIONS -------- */
    @include defineColumnContentPositionOptions();

  }

}