/* -------- TOKENS -------- */
@import '../../utils/SCSSTokens.scss';

/* -------- IMPLEMENTING -------- */
@import '../Column/Column.module.scss';
@import '../Section/Section.module.scss';

@mixin defineHeaderColor($background-color, $color) {
  background-color: $background-color;
  color: $color;
}

@mixin defineHeaderColorOptions {
  &--primary { @include defineHeaderColor(white, black) }
  &--secondary { @include defineHeaderColor(black, white) }
  &--custom { @include defineHeaderColor(
    var(--header--custom-background-color),
    var(--header--custom-color)
  ) }
}

@mixin defineHeaderPadding($padding) {
  @include defineSectionPadding($padding);
}

@mixin defineHeaderPaddingOptions {
  &--pd-xx-sm { @include defineHeaderPadding(var(--header--pd-xx-sm-padding)) }
  &--pd-x-sm { @include defineHeaderPadding(var(--header--pd-x-sm-padding)) }
  &--pd-sm { @include defineHeaderPadding(var(--header--pd-sm-padding)) }
  &--pd-md { @include defineHeaderPadding(var(--header--pd-md-padding)) }
  &--pd-lg { @include defineHeaderPadding(var(--header--pd-lg-padding)) }
  &--pd-x-lg { @include defineHeaderPadding(var(--header--pd-x-lg-padding)) }
  &--pd-xx-lg { @include defineHeaderPadding(var(--header--pd-xx-lg-padding)) }
  &--pd-custom { @include defineHeaderPadding(var(--header--pd-custom-padding)) }
}

@mixin defineHeaderShadow($shadow) {
  box-shadow: $shadow;
}

@mixin defineHeaderShadowOptions {
  &--shdw-lt { @include defineHeaderShadow(0px 5px 8px rgba(0,0,0,0.1)) }
  &--shdw-md { @include defineHeaderShadow(0px 10px 15px rgba(0,0,0,0.15)) }
  &--shdw-hv { @include defineHeaderShadow(0px 15px 25px rgba(0,0,0,0.2)) }
}

@mixin defineHeaderSize($min-height, $max-height, $font-size) {
  min-height: $min-height;
  max-height: $max-height;
  font-size: $font-size;
}

@mixin defineHeaderSizeOptions {
  &--sm > * { @include defineHeaderSize(
    var(--header--sm-min-height, 8vh),
    var(--header--sm-max-height, 90px),
    var(--header--sm-font-size, 16px)
  ) }
  &--md > * { @include defineHeaderSize(
    var(--header--md-min-height, 10vh),
    var(--header--md-max-height, 120px),
    var(--header--md-font-size, 17px)
    ) }
  &--lg > * { @include defineHeaderSize(
    var(--header--lg-min-height, 12vh),
    var(--header--lg-max-height, 150px),
    var(--header--sm-font-size, 20px)
    ) }
}

@mixin defineHeaderColumns {
  grid-template-columns: repeat(var(--header--column-count, 2), 1fr);
}

.header {
  
  & > * {
    display: grid;
    @include defineHeaderColumns()
  }

  /* -------- DEFAULT STYLES -------- */
  background-color: white;
  padding: var(--header--pd-md-padding);

  /* -------- HEADER VARIANTS -------- */
  @include defineHeaderColorOptions();

  /* -------- WIDTH -------- */
  @include defineSectionWidthOptions();

  /* -------- PADDING -------- */
  @include defineHeaderPaddingOptions();

  /* -------- SHADOW -------- */
  @include defineHeaderShadowOptions();

  /* -------- SIZE -------- */
  @include defineHeaderSizeOptions();

  &__col {

    display: grid;
    align-items: center;

    /* -------- DEFAULT STYLES -------- */
    @include defineColumnDefaultStyles();
    
    /* -------- OPTIONS -------- */
    @include defineColumnContentPositionOptions();

  }

}