/* -------- TOKENS -------- */
@import '../../utils/CSSCustomTokens.scss';

/* -------- IMPLEMENTING -------- */
@import '../Column/Column.module.scss';

@mixin defineSectionWidth($width) {
  margin: auto;
  max-width: $width;
}

@mixin defineSectionWidthOptions {
  &--full-width { @include defineSectionWidth(100%) }
  &--contained { @include defineSectionWidth(1080px) }
}

@mixin defineSectionPadding($padding) {
  padding: $padding;
}

@mixin defineSectionPaddingOptions {
  &--pd-xx-sm { @include defineSectionPadding(var(--section--pd-xx-sm-padding)) }
  &--pd-x-sm { @include defineSectionPadding(var(--section--pd-x-sm-padding)) }
  &--pd-sm { @include defineSectionPadding(var(--section--pd-sm-padding)) }
  &--pd-md { @include defineSectionPadding(var(--section--pd-md-padding)) }
  &--pd-lg { @include defineSectionPadding(var(--section--pd-lg-padding)) }
  &--pd-x-lg { @include defineSectionPadding(var(--section--pd-x-lg-padding)) }
  &--pd-xx-lg { @include defineSectionPadding(var(--section--pd-xx-lg-padding)) }
  &--pd-theme { @include defineSectionPadding(var(--section--pd-custom-padding)) }
}

.section {

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-items: center;
  padding: var(--section--pd-md-padding);

  @include defineSectionWidthOptions();
  @include defineSectionPaddingOptions();

  &__col {
    /* -------- DEFAULT STYLES -------- */
    @include defineColumnDefaultStyles();
    
    /* -------- OPTIONS -------- */
    @include defineColumnContentPositionOptions();
  }
}