.link-variant--primary {
  color: black;
}

.link-variant--primary:hover {
  color: #333;
}

.link-variant--primary:not(:hover) {
  color: black;
}

.link-variant-secondary {
  color: white;
}

.link-variant-secondary:hover {
  color: #ddd
}

.link-variant-secondary:not(:hover) {
  color: white;
}

.link {
  color: black !important;
  text-decoration: none !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}